.alien-font{
  font-family: 'Rancho', cursive;
}
html,body{
  height: 100%;
}

body{
  background-color: rgb(255, 255, 255);
}

.contents{
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

*{
  padding: 0;
}